/* Work Sans Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Sora', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav styles */
.section-title {
    color: #131313;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
}

nav li {
    list-style: none;
    color: var(--Dark-02, #424242);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
    /* 144.444% */
}

nav li a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    justify-content: space-around;
}

/* banner styles */
.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;

}

.banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    margin-top: 30px;

}

.banner img {
    width: 100%;
    padding-top: 50px;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.team-container {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.team-content {
    padding: 0 70px;
}

.team-title {
    font-size: 2.8rem;
}

.team-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.team-title .of-our {
    color: #131313;
    font-weight: 700;

}

.team-title .feature {
    color: #FF900E;
    font-weight: 700;
}

.team-description {
    color: #727272;
    font-family: Work Sans;
    font-weight: 400;
}

/* Facts section styles */
.facts-description {
    width: 542px;
    color: #727272;
    font-weight: 400;
    margin-bottom: 100px;

}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 20px 5px 20px 5px;
    width: 230px;
}

.card-container .card-title {
    color: #424242;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;

}

.card-container .card-description {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;

}

/* sponsors section style */

.sponsor-logo-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


/* responsive style */
/* mobile devices */
@media screen and (max-width:576px) {
    header {

        padding: 20px;
    }
    nav>ul {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
    }
    nav,
    .team-container
    
    {
        flex-direction: column;
    }

    .img-container {
        grid-template-columns: 1fr;
    }

    .team-content {
        padding: 0 20px;
    }

    .card-container,
    .sponsor-logo-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .facts-description {
        width:auto;
        padding-left: 10px;
        
}
.section-title{
    padding-left: 10px;
}
.section-description{
    padding-left: 10px;
    padding-right: 10px;
}
.sponsor-logo-container img{
    width: 165px;
}
}


/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .team-container,
    .sponsor-logo-container {
        flex-direction: column;
    }

    .sponsor-logo-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .sponsor-logo-container img{
        width: 200px;
    }
    .card-container {

        justify-content: center;
        gap: 20px;
    }

}